# Binary
/collaborator
/agent-flow
/mcp-server

# Configs
configs/config.yaml
configs/config.test-*.yaml

# Database
db/*.db
db/*.db-journal

# Go
vendor/

# Temporary & IDE
logs/
output/
.idea/
.vscode/
.DS_Store
.gemini/
